@page "/"

<EtkinliklerButtonComponent />
<KatılımcılarButtonComponent />




<SupervisorlarButtonComponent />


<p>                                     </p>

<BilgiTalepleriButtonComponent />

<AnketlerButtonComponent />


<AyarlarButtonComponent />